@model Service
@using UmbracoRetro.Models

<div id="fh5co-services-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2>@Model.Title</h2>
                <p>@Html.Raw(Model.Subtitle)</p>
            </div>
        </div>
        <div class="row">
            @*@RenderService(Model);*@
            <div class="col-md-12 services-inner text-center">
                <span><i class="sl-icon-graph"></i></span>
                <h3>@Model.Category</h3>
                <p>@Html.Raw(Model.Description)</p>
            </div>
        </div>
    </div>
</div>
@*@helper RenderService(Service service)
{
    <div class="col-md-4 services-inner text-center">
        <span><i class="sl-icon-graph"></i></span>
        <h3>@service.Category</h3>
        <p>@Html.Raw(service.Description)</p>
    </div>
}*@
